.leftPanel {
    position: absolute;
    z-index: 100;
    /* padding: 300px; */
    height: 95%;
    width: 48%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    opacity: 0.90;
    background: -moz-linear-gradient(
        90deg,
        rgba(255, 182, 193, 0.7) 0%, /* Light Pink */
        rgba(173, 216, 230, 0.7) 100% /* Light Blue */
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(255, 182, 193, 0.7) 0%, /* Light Pink */
        rgba(173, 216, 230, 0.7) 100% /* Light Blue */
    );
    background: linear-gradient(
        90deg,
        rgba(255, 182, 193, 0.7) 0%, /* Light Pink */
        rgba(173, 216, 230, 0.7) 100% /* Light Blue */
    );
}